footer{
    background-color: rgb(75, 75, 75);
    position: absolute;
    bottom: 0;
    color: rgb(177, 192, 192);
    width: 100%;
}

footer div.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 2vw;
}

footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    /* Font */
    font-size: 0.75rem;
}
footer ul li:before {
    content: "⇝";
    position: absolute;
    left: -1em;
}
footer h3{
    color: rgb(112, 128, 128);
}
footer a{
    cursor: pointer;
}
footer a:hover{
    color: aquamarine;
}
